@{
    ViewBag.Title = "Home Page";
}

<div id="knockoutAreaWithTS" class="row">
    <h1>Ajax with Knockout and TypeScript</h1>
    <div class="col-md-1">
        <button data-bind="click: getWithAjax">Make Get Ajax Call</button>
    </div>
    <div class="col-md-1">
        <label>id</label>
        <input data-bind="value: id" />
        <br />
        <label>name</label>
        <input data-bind="value:name" />
        <br />
        <br />
        <button data-bind="click: postDataWithAjax">Post With Data</button>
    </div>

    <div class="col-md-1">
        <div data-bind="errorMessage" style="color: red;"></div>
    </div>

    <div class="col-md-1">
        <ul data-bind="foreach: results">
            <li>
                <span data-bind="text:$data"></span>
            </li>
        </ul>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <h1>Plain JavaScript Ajax</h1>
    <br />
    <div class="col-md-1">
        <button id="makeGetAjaxCallButton">Make Get Ajax Call</button>
    </div>
    <div class="col-md-1">
        <button id="makePostAjaxCallButton">Post simple value</button>
    </div>
    <div class="col-md-1">
        <button id="makePostWithDataAjaxCallButton">Post With Data</button>
    </div>
    <div class="col-md-1">
        <button id="makeGetJsonPCallButton">Json P</button>
    </div>
    <div class="col-md-1">
        <p id="resultArea">

        </p>
    </div>
</div>
<div id="knockoutArea" class="row">
    <h1>Ajax with Knockout</h1>
    <div class="col-md-1">
        <button data-bind="click: getWithAjax">Make Get Ajax Call</button>
    </div>
    <div class="col-md-1">
        <button data-bind="click: postWithAjax">Post simple value</button>
    </div>
    <div class="col-md-1">
        <button data-bind="click: postDataWithAjax">Post With Data</button>
    </div>

    <div class="col-md-1">
        <div data-bind="errorMessage" style="color: red;"></div>
    </div>

    <div class="col-md-1">
        <ul data-bind="foreach: results">
            <li>
                <span data-bind="text:$data"></span>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // http://youmightnotneedjquery.com/
        // IE9+
        function ready(fn) {
            if (document.readyState !== 'loading') {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        ready(function() {
            console.log('DOM is ready');
            var button = document.querySelector("#makeGetAjaxCallButton");
            var resultArea = document.querySelector("#resultArea");
            //button.addEventListener('click', function() {
            // get from the api on click
            // http://api.jquery.com/jQuery.ajax/
            //$.ajax({
            //    type: 'GET',
            //    url: 'api/Stuff',
            //    success: function (resp) {
            //        for (var i = 0; i < resp.length; i++) {
            //            debugger;
            //            resultArea.textContent += '<br />' + resp[0];
            //        }
            //    },
            //    error: function () {
            //        self.resultArea.innerHTML = '<h1 style="color:red">error</h1>';
            //        console.log('error');
            //    }
            //});

            // with promises
            //return $.ajax({
            //    type: 'GET',
            //    url: 'api/Stuff'
            //}).then(function(resp) {
            //    for (var i = 0; i < resp.length; i++) {
            //        debugger;
            //        resultArea.textContent += '<br />' + resp[0];
            //    }
            //}).fail(function() {
            //    console.log('error from promise');
            //});

            // JSON P
            // test resultArea.textContent = 'asdjfklsadjfklsda';
            // });

            // with a class:
            var controller = new indexController(button, document.querySelector("#makePostAjaxCallButton"), document.querySelector("#makePostWithDataAjaxCallButton"), document.querySelector("#makeGetJsonPCallButton"), resultArea);
            console.log('id: ' + controller.id);
        });
    </script>

    @*Knockout example*@
    <script type="text/javascript">
        ready(function () {
            var viewModel = new indexViewModel();
            var div = document.querySelector("#knockoutArea");
            // setup the data context at the knockoutArea div
            ko.applyBindings(viewModel, div);

            // write up on import http://geekswithblogs.net/Aligned/archive/2015/09/02/vs-2015-and-typescript-module-flag.aspx
            // need to make sure indexTSViewModel is available first
            require(['Scripts/ViewModels/indexTsViewModel', 'Scripts/modules/jQueryAjaxDataService'],
                function (IndexTsViewModel, JQueryAjaxDataService) {
                    var typeScriptVm = new IndexTsViewModel.IndexTsViewModel(new JQueryAjaxDataService.JQueryAjaxDataService($));
                    var tsDiv = document.querySelector("#knockoutAreaWithTS");
                    ko.applyBindings(typeScriptVm, tsDiv);
                });
        });

    </script>
}